/**
 * Color Chooser Field
 */

.farbtastic {
	position:relative;
}

.farbtastic * {
	position: absolute;
	cursor: crosshair;
}

.farbtastic, .farbtastic .wheel {
	width: 195px;
	height: 195px;
}

.farbtastic .color, .farbtastic .overlay {
	top: 47px;
	left: 47px;
	width: 101px;
	height: 101px;
}

.farbtastic .wheel {
	background: url(wheel.png) no-repeat;
	width: 195px;
	height: 195px;
}

.farbtastic .overlay {
	background: url(mask.png) no-repeat;
}

.farbtastic .marker {
	width: 17px;
	height: 17px;
	margin: -8px 0 0 -8px;
	overflow: hidden;
	background: url(marker.png) no-repeat;
}


#picker-container {
	z-index: 100;
	width: 20rem;
	height: 20rem;
	position: absolute;
	background-color:  transparent;
}

#picker {
	padding: 2rem;
	background-color: var(--color-clear);
	border-radius: var(--radius-current);
	box-shadow: var(--shadow);
	width: 20rem;
	height: 20rem;
}

#picker-top {
	height: 16px;
	background: transparent url(arrow.png) 7px 0 no-repeat;
}

#picker-bottom {
	display: none;
}

.color-chooser-container {
	display: flex;
	align-items: center;
}

.color-icon {
	width: 20px;
	height: 20px;
	background: transparent url(color_wheel.png) center center no-repeat;
	background-size: 100%;
	display: block;
	flex: none;
	margin-right: 1rem;
}

#picker-container.top {
	margin-top: -5.3em;
}

#picker-container.top #picker-top {
	display: none;
}

#picker-container.top #picker-bottom {
	display: block;
	height: 16px;
	background: transparent url(arrow-dn.png) 7px -2px no-repeat;
}

.field-colorchooser input {
	transition-duration: 0s;
}

.colorchooser-index-preview {
	border-radius: 100%;
	display: block;
	position: relative;
	height: 1.5rem;
	width: 1.5rem;
	border: 1px solid #d3dce2;
	color: black;
}
